@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
html, body {
    padding: 0;
    margin: 0;
}
body {
    background: url('./images/bg.jpg') #0c0d10 top center repeat;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
body, a {
    color: #667d33;
}
h1, h2, h3 {
    font-weight: 300;
}
h1, h2, h3, h4 {
    color: #BE9460;
}
h4 {
    font-weight: 800;
}
h2 a, h3 a, h4 a {
    color: #BE9460;
}
main {
    width: 80vw;
    max-width: 900px;
    margin: 1rem auto 2rem;
}
audio {
    width: 100%;
}
article {
    border-bottom: 1px solid #344c0b;
    display: flex;
    flex-wrap: wrap;
}
article .thumb {
    width: 200px;
    flex: 0 0 auto;
    padding: 1rem 1rem 1rem 0;
}
.thumb img {
    width: 100%;
}
article .info {
    display: flex;
    flex-direction: column;
    flex: 1 0 40%;
}
.info > p {
    margin-top: 0;
}
.title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.title img {
    
}
#into, #moss {
    height: 150px;
}
#the {
    height: 60px;
}
