@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

@font-face {
    font-family: 'charming_smile';
    src: url('fonts/charming-smile-demo.regular-webfont.woff2') format('woff2'),
         url('fonts/charming-smile-demo.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    padding: 0;
    margin: 0;
}
.logo {
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}
.logo {
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) .6s;
}
.logo svg {
    transition: opacity cubic-bezier(0.4, 0, 0.2, 1) .6s;
}
.logo svg {
    height: 100%;
}
.hide {
    background-color: rgba(0,0,0,0);
}
.hide svg {
    opacity: 0;
}
.hidden {
    display: none;
}
.shown {
    display: block;
}
.id {
    position: absolute;
}
nav {
    text-align: center;
}
nav a {
    padding: 0 1em;
}
nav, .info {
    display: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
p a {
    border-bottom: 1px dashed #455520;
}
body {
    background: #0c0d10;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    height: 100vw;
}
body, a {
    color: #667d33;
}
h1, h2, h3 {
    font-weight: 300;
}
h1, h2, h3, h4, .id {
    font-family: charming_smile, sans-serif;
    color: #ffffff;
}
.id {
    opacity: 0;
    font-size: 2rem;
    text-shadow: 1px 1px 30px #00000059;
    letter-spacing: .08em;
    transition: opacity ease-in-out .25s;
}
.thumb:hover .id, .thumb:focus .id {
    opacity: 1;
}
h4 {
    font-weight: 800;
}
h2 a, h3 a, h4 a {
    color: #BE9460;
}
main {
    /* width: 100vw; */
    /* display: flex; */
    flex-wrap: wrap;
    /* max-width: 900px; */
    /* margin: 1rem auto 2rem; */
}
main.home {
    width: 100vw;
    display: flex;
}
main.episode {
    padding: 2rem;
}
audio {
    width: 100%;
}
article {
    /* border-bottom: 1px solid #344c0b; */
    display: flex;
    flex-wrap: wrap;
}
article .thumb {
    width: 150px;
    height: 150px;
    flex: 0 0 auto;
    padding: 1rem 1rem 1rem 0;
}
#episode-player .thumb {
    width: 200px;
    margin: 0 1.5rem 1.5rem 0;
}
.thumb {
    flex: 1 0 auto;
}
.thumb a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.thumb picture {
    flex: 1 0 auto;
    height: 100%;
}
.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
article .info {
    /* display: flex; */
    flex-direction: column;
    flex: 1 0 40%;
}
.info > p {
    margin-top: 0;
}
#episode-player {
    display: flex;
    flex-wrap: wrap;
}
#episode-player #player-info {
    display: flex;
    flex: 1 0 40%;
    flex-direction: column;
}
.episode-text {
    display: none;
    white-space: pre-wrap;
}
